@use "../mixins" as *;
@use "../variables" as *;

.top-kv {
  position: relative;

  &-wrap {
    @include mq() {
      padding: 0 30px;
    }
  }

  &-bg {
    overflow: hidden;
    position: relative;
    height: 480px;

    @include mq() {
      height: 620px;
      border-radius: 30px;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: bottom center;

      @include mq() {
        object-position: right center;
      }
    }

    &::before {
      content: "";
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.5) 22.54%, rgba(0, 0, 0, 0) 54.96%);
      z-index: 1;

      @include mq() {
        background: linear-gradient(90deg, rgba(0, 0, 0, 0.5) 22.54%, rgba(0, 0, 0, 0) 54.96%);
      }
    }
  }

  &-body {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
  }

  &-in {
    padding: 30px 20px;

    @include mq() {
      padding: 50px 30px;
    }
  }

  &-sub {
    background: $green;
    color: $white;
    display: block;
    width: 100%;
    padding: 12px 0;
    text-align: center;
    font-weight: 700;
    letter-spacing: 0.05em;
    font-size: clamp(13px, 3.6vw, 18px);
    line-height: 1.2;

    @include mq() {
      display: inline-block;
      width: auto;
      padding: 12px 10px;
      font-size: 24px;
    }

    &-wrap {
      display: flex;
      justify-content: center;

      @include mq() {
        justify-content: flex-start;
      }
    }
  }

  &-main {
    color: $white;
    font-weight: 700;
    @include lh(65, 88);
    margin-top: 10px;
    font-size: clamp(25px, 7.5vw, 35px);
    text-align: center;
    text-shadow: 0px 0px 20px rgba(0, 0, 0, 0.5);
    font-family: "Noto Sans JP", sans-serif;

    @include mq() {
      font-size: 47px;
      text-align: left;
    }
  }

  &-labels {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: calc(10 / 390 * 100vw);
    margin-top: 20px;

    @include mq() {
      justify-content: flex-start;
      gap: 12px;
    }
  }

  &-label {
    background-image: url("../img/top/kv-label.svg");
    background-size: contain;
    aspect-ratio: 1 / 1;
    width: calc(110 / 390 * 100vw);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    @include mq() {
      width: 150px;
    }

    &-top {
      padding-top: calc(20 / 390 * 100vw);
      font-size: calc(12 / 390 * 100vw);
      @include lh(16, 25);
      font-weight: 700;
      color: $black;
      display: flex;
      align-items: center;
      justify-content: center;

      @include mq() {
        padding-top: 26px;
        font-size: 16px;
      }

      &::before,
      &::after {
        display: inline-block;
        font-size: 0.75em;
      }

      &::before {
        content: "\\";
      }

      &::after {
        content: "/";
      }
    }

    &-main {
      margin-top: calc(1 / 390 * 100vw);
      font-size: calc(21 / 390 * 100vw);
      color: $green;
      font-weight: 700;
      letter-spacing: -0.02em;
      display: flex;
      justify-content: center;

      @include mq() {
        font-size: 30px;
        margin-top: 2px;
      }

      &.md {
        display: block;
        line-height: 1.1;

        @include mq() {
          margin-top: -2px;
        }
      }
    }

    &-bottom {
      font-size: calc(12 / 390 * 100vw);
      font-weight: 700;
      color: $black;
      margin-top: 2px;

      @include mq() {
        margin-top: 4px;
        font-size: 16px;
      }
    }
  }

  .num {
    font-family: "Roboto", sans-serif;
    line-height: 0.7;
    letter-spacing: -0.025em;
    margin-right: 0.03em;
    margin-left: -0.2em;
  }

  .yellow {
    color: $yellow;
  }

  .pink {
    color: $pink;
  }

  .marker {
    background: linear-gradient(transparent 80%, $yellow 0%);
    display: inline;
    background-position: bottom 10px center;

    // &.small {
    //   background: linear-gradient(transparent 90%, $yellow 0%);
    //   background-position: bottom 20px center;
    // }
  }

  .md {
    font-weight: 800;
    @include lh(35, 40);
    font-size: calc(25 / 390 * 100vw);

    @include mq() {
      font-size: 35px;
    }
  }

  .lg {
    font-size: calc(44 / 390 * 100vw);
    font-weight: 700;

    @include mq() {
      font-size: 58px;
    }
  }

  .xl {
    font-size: clamp(38px, 11vw, 50px);

    @include mq() {
      font-size: 65px;
    }
  }

  .vertical {
    writing-mode: vertical-rl;
    line-height: 1.2;
    font-size: calc(12 / 390 * 100vw);
    color: $black;
    transform: translateY(-2px) translateX(-0.8em);

    @include mq() {
      font-size: 16px;
      transform: translateX(-0.8em);
    }
  }
}
